@page "/"
@using System.IO.Pipelines
@using BillParser.Client.Code
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IBillParserService BillParser

<PageTitle>Bill Parser</PageTitle>

<h2>Upload bill summary</h2>
<div>
    <InputFile OnChange="@OnChange"></InputFile>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <QuickGrid Items="Lines" Class="">
                <PropertyColumn Property="@(p => p.PhoneNumberPrefix)" Align="Align.End" Title="#Prefix"></PropertyColumn>
                <PropertyColumn Property="@(p => p.PhoneNumberSuffix)" Align="Align.Start" Title="#Suffix"></PropertyColumn>
                <PropertyColumn Property="@(p => p.PlanAmt)" Title="Plan"></PropertyColumn>
                <PropertyColumn Property="@(p => p.EquipmentAmt)" Title="Equipment"></PropertyColumn>
                <PropertyColumn Property="@(p => p.ServicesAmt)" Title="Service"></PropertyColumn>
                <PropertyColumn Property="@(p => p.Total)" Title="Total"></PropertyColumn>
            </QuickGrid>
        </div>
    </div>
</div>


<div>
    @if (Totals is null)
    {
        <div>Data not ready!</div>
    }
    else
    {

            <h2>Totals</h2>
            <p>Plans: @Totals.Plans</p>
            <p>Equipment: @Totals.Equipment</p>
            <p>Service: @Totals.Services</p>
            <p>TOTAL: @Totals.Total</p>
    }
</div>

@code{
    BlazorBootstrap.Grid<Line> grid = default!;
    private Bill? Bill {get; set;}
    public IQueryable<Line>? Lines = null;
    private Totals? Totals = null;
    

    private async void OnChange(InputFileChangeEventArgs e)
    {
        if (e.GetMultipleFiles().Count > 1)
        {
            throw new NotImplementedException("Multiple files are not supported yet.");
        }
        var file = e.File;
        var stream = file.OpenReadStream();
        var str = new MemoryStream();
        await stream.CopyToAsync(str);
        
        Bill = await BillParser.GenerateBillAsync(str.ToArray());
        Lines = Bill.LinesList.AsQueryable();
        Totals = Bill.Totals;
        StateHasChanged();
    }
}